/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */
/*
 .ds-form-label{
  width: 17em;
}

#aspect_submission_StepTransformer_field_dc_title,
#aspect_submission_StepTransformer_field_dc_title_alternative,
#aspect_submission_StepTransformer_field_dc_rights_uri,
#aspect_submission_StepTransformer_field_dc_source_collection,
#aspect_submission_StepTransformer_field_dc_relation_references,
#aspect_submission_StepTransformer_field_dc_relation_isReferencedBy,
#aspect_submission_StepTransformer_field_dc_rights{
  width: 40em;
}

#aspect_submission_StepTransformer_field_dc_contributor_photographer,
#aspect_submission_StepTransformer_field_dc_contributor_author,
#aspect_submission_StepTransformer_field_dc_subject_lcsh{
  width: 25em;
}

#aspect_submission_StepTransformer_field_dc_date_issued{
  width: 8em;
}

#aspect_submission_StepTransformer_field_dc_contributor_publisher,
#aspect_submission_StepTransformer_field_dc_format_medium,
#aspect_submission_StepTransformer_field_dc_publisher{
  width: 20em;
}

#aspect_submission_StepTransformer_field_dc_language_iso,
#aspect_submission_StepTransformer_field_dc_date_digital{
  width: 3em;
}     */
// END from old css

// Ying updated (11/20/2014) New theme changes designed by Jeff
header .navbar-brand img {
        height: 84px;

   }

.navbar-brand {
    float: left;
    padding: 9px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

header .navbar-default{
        // YJ
        //background-color: $navbar-inverse-bg;
        background-color: #fff;
        min-height: 100px;

    }

.trail-wrapper {
    background-color: #002446;
    border-bottom: 1px solid lighten($brand-primary, 15%);

    .breadcrumb{
        background-color: transparent;
        margin-bottom: 0;

         > li {
            display: inline-block;
                color: #fff;
        }
        > li a{
              color:#ddd;
        }
        > li {
            + li:before {
                display: inline-block;
                color: #fff;
            }
        }
        > .active {
            color: #fff;
        }
    }


    .sidebar-toggle {
        position: relative;
        margin-right: $navbar-padding-horizontal;
        padding: 10px;
        @include navbar-vertical-align(34px);
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: $border-radius-base;
        margin: 0;
        //border-color: $navbar-default-toggle-border-color;
        .icon-bar {
            background-color: $component-active-bg;
        }

        &:hover,
        &:focus {
            background-color: $component-active-bg;

            .icon-bar {
                background-color: $component-active-color;
            }
        }
    }

    .sidebar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

    .sidebar-toggle .icon-bar + .icon-bar {
        margin-top: 4px;
    }
}



.btn-primary{
    color:#fff;
    background-color:#002469;
    border-color:#566b81;
}     

@media(min-width: 768px) {
    .navbar-nav{
    float: left;
	margin-top:35px;
    margin-right: 5px;
    margin-left: 5px;
	background-color: #5e6062;
	border-radius: 2px;
	}
    .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
 }
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    z-index: 2;
    color: #fff;
    background-color: #002469;
    border-color: #607890;
}


.word-break {
    word-break: normal;
    -moz-hyphens: auto;
}

.thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #BFBFBF;
}

#mk.collapse.in {
    display: inline-block;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

h5, .h5 {
    font-size: 14px;
    font-weight: bold;
}


.dl-horizontal dt {
    float: left;
    width: 120px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

@media (min-width: 768px) {
    .dl-horizontal dd {
    margin-left: 125px;
}
        }
.dl-horizontal dd {
    padding-left: 5px;
    }

object.jwswf, .videoContainer>DIV{
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;
    top: 0px;
    left: 0px;
}
.videoContainer{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
}

.thumbnail{
    width: 100%;
}
.bs-example{
    margin-bottom: 30px;
}

.ds-artifact-list .artifact-info {
    color: #333;
}